header {
    position: fixed;
    background-color: black;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    padding-bottom: 2em;
    z-index: 1;
}
header .logo {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    transition: 0.5s;
}
header .logo:hover {
    transform: scale(1.2);
}
header nav li{
    display: inline-block;
    margin-right: 2px;
    color: white;

}
header nav ul li {
    position: relative;
    float: left;
}
.header {
    padding-top: 30px;}
header nav ul li a {
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 22px;
    display: block;
    transition: 0.25s easy;
    text-decoration: none; 
}
header nav ul li a:hover {
    background-color: rgb(139, 95, 181);
    color: black;
}
nav ul li ul {
    position:fixed;
    width: 160px;
    background: #000000;
    display: none;
        
}
nav ul li:hover > ul{
    display: initial;
}
nav ul li ul li {
      width: 100%;
      border: 1px solid rgb(85, 62, 108);
      text-align: center;
}
.hamburger {
    display: none;
    cursor: pointer;
    
}
span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:768px) {
    .hamburger{
        display: block;
        }
    .hamburger.active .bar:nth-child(2) { 
        opacity: 0;
       }
    .hamburger.active .bar:nth-child(1) { 
        transform: translateY(8px) rotate(45deg);
       }
    .hamburger.active .bar:nth-child(3) { 
        transform: translateY(-8px) rotate(-45deg);
       }
       .head{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
       }
       .header{
        margin: 16px 0;
       }
       .head.active{
        left: 0;
       }

}

